@import "tailwindcss";


.float-right {
    float: right;
}

.ordi-icon-justify {
    top: 3%;
    left: 5%;
}

.home-menu-justify {
    top: 5%;
    left: 30%;
    right: 10%;
}

.max-w-4xl {
    max-width: 60rem;
}

.signup-page-container {
    margin-left: 15%;
}

.m-header {
    margin-left: 30%;
}

.m-registration {
    margin-left: 25%;
}

.m-login-selection {
    margin-left: 10%;
}

.max-h-half {
    max-height: 50%;
}
  
.max-w-half {
    max-width: 50%;
}

.notification-counter {   
    position: absolute;
    top: 1rem;
    background-color: rgba(212, 19, 13, 1);
    color: #fff;
    border-radius: 3px;
    padding: 1px 3px;
    font: 8px Verdana;
}