@tailwind base;
@tailwind components;
@tailwind utilities;

.float-right {
    float: right;
}

.ordi-icon-justify {
    top: 3%;
    left: 10%;
}

.max-w-4xl {
    max-width: 60rem;
}

.signup-page-container {
    margin-left: 15%;
}
